<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClpjbqYnkKr05xYVzFVzAXOgkgiA3Edk0</string>
	<key>GCM_SENDER_ID</key>
	<string>32864327402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toda.440</string>
	<key>PROJECT_ID</key>
	<string>prod-7cdde</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-7cdde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32864327402:ios:5c364d64d3ecda8dd3a993</string>
</dict>
</plist>